/*
==============
Basic 
==============
*/
html{
  background-color: #fff;
  color: #555;
  font-size: 20px;
  font-family: Arial,sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/*
=======================
reusable Code
=======================
*/
.row{
  width: 1140px;
  margin: 0 auto;
}

.btn,.btn:link,.btn:visited{
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  border-radius:200px;
  color: white;
  transition: background-color 1s;


}

.btn-full,.btn-full:link,.btn-full:visited{
  background-color: #e67e22;
  border: 1px solid #e67e22;
  margin-right: 15px;
}

.btn-ghost,.btn-ghost:link,.btn-ghost:visited{
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,.btn:focus,.btn:active{
  background-color: #cf6d17;
  border-color: #cf6d17;
  color: white;
}


/*
=======================
Header
=======================
*/

header{

  background-image:linear-gradient(rgba(31,31,31,.7),rgba(31,31,31,.5)), url("../images/hero.jpg");
  background-size: cover;
  height: 100vh;
}

.text-hero-box{
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text-hero-box h2{
  margin-top: 0;
  font-size: 240%;
  color: white;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-weight: 300;
  margin-bottom: 25px;
}

.logo{
  width: auto;
  height: 100px;
  float: left;
  margin-top: 20px;
}

.main-nav{
  list-style: none;
  float: right;
  margin-top: 60px;
}
.main-nav li{
  display: inline-block;
  margin-left: 30px;
}

.main-nav li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size:90% ;
  border-bottom: 2px solid transparent;
  transition:border-bottom 1s ease-in-out ;
padding: 10px 0;

}

.main-nav li a:hover,
.main-nav li a:active,
.main-nav li a:focus{
  border-bottom: 2px solid #e67e22;
}

